---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
  <h2>HOWDY BUBBLEGUM!</h2>
  <p>Will I reload?</p>
</div><!-- .welcome -->